body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}


a {
text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
ul,
ol 
{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none ;
}
button {
   
}
/* header*/
.header-page  {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc
}
.nav-page {
    display: flex;
    align-items: center;
    margin-right: auto;
   
    
}

.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}
.logo-style {
color: #2e2f42 ;
}
.nav-list {
display: flex;
gap: 40px;
}
.nav-item {

}
.nav-item-link {
font-weight: 500;
font-size: 16px;

line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top:24px ;
padding-bottom: 24px ;
display: block;
}
.nav-item-link:hover,
.nav-item-link:focus {
    color: #404bbf;
}

.address-header {
    padding: 24px 0;
  display: block;
    
}
   
.address-link {
    display: flex;
    gap: 40px;
    
}
.nav-address {
}
.nav-address-link {
    font-weight: 400;
font-size: 16px;

line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-address-link:hover,
.nav-address-link:focus {
    color: #404bbf;
}
/*  */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}
.hero, .Effective-cont {
    
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    width: 496px;
    margin: 0 auto;
   text-transform: capitalize;
    margin-bottom: 48px;
}
   
.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    width: 169px;
    display: block;
    margin: 0 auto;
    
}
.hero-btn:hover,
.hero-btn:focus {
    background-color:#404bbf;
}
/* section  */
.strategy-section {
    padding: 120px 0;  
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.strategy-list {
    display: flex;
    gap: 24px;
   align-items: center;

}
.strategy-link {
    
    flex-basis: calc((100% - 3 * 24px) / 4) ;
    padding: 0;
    margin: 0;
}
.strategy-title,h3 {
font-weight: 500;
font-size: 20px;

line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.strategy-text {
font-weight: 400;
font-size: 16px;

line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* section */

/* our team */
.team {
    background: #f4f4fd;
    padding: 120px 0;

}
.main-our-team {
    text-transform: capitalize;
    font-weight: 700;
font-size: 36px;

line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;

;
}
.team-list {
    gap: 24px;
    display: flex;
 
}
.team-main-link {
    background-color: #ffffff;
    flex-basis: calc((100% - 3 * 24px) / 4) ;
    
}
.avatar {
    background: url("path_to_image");
    display: block
  
}
.container-team {
    padding: 32px 0;
}
.team-title {
    text-transform: capitalize;
    font-weight: 500;
font-size: 20px;

line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-text {
    text-transform: capitalize;
    font-weight: 400;
font-size: 16px;

line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
/* our team */

.our-prt-section {
    padding-top: 120px;
padding-bottom: 120px;
}
.our-prt {
    font-weight: 700;
font-size: 36px;

text-transform: capitalize;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}
.our-prt-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    
}
.our-styles {
    background: url("path_to_image");
    display: block
}
.our-title {
    font-weight: 500;
font-size: 20px;

text-transform: capitalize;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.our-text {
    text-transform: capitalize;
    font-weight: 400;
font-size: 16px;

line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio-content {
    padding: 32px 16px;
    text-align: left;
}
.our-port-list {
    width: calc((100% - 48px) / 3);
}

/* footer */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;

line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;

}
.footer-text {
    font-weight: 400;
font-size: 16px;

line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;
padding-top: 4px;

}
.logo-footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;

}
.nav-footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;

line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
display: inline-block;
}
/* footer */